body {
  height: 100vh;
  background: linear-gradient(to right bottom, #a18a7f, #593625);
  font-family: "Lato", sans-serif;
}
#white {
  background: linear-gradient(to right, #f5f5f5 50%, #ffffff 50% 100%);
}
.img {
  width: 100px;
  height: 100px;
}
#dot1, #dot2 {
    top: -15px;
    padding-left: 4em ;
}
#score1 , #score2{
    font-size: 3em;
    font-weight: 300;
}
#img {
    aspect-ratio: 1/1;
    /* width: 100%;
    height: auto; */
    max-width: 100px;
    max-height: 100px;
}
.current {
    height: 45%;
}
.currentSpan, #current1, #current2 {
    background-color: #de4949;
}
.currentSpan {
    font-size: 0.7em;
}